@font-face {
    font-family: "suitepicon";
    src: url("suitepicon.eot?38c5db8d1ee7437b035963dafb3362ba?#iefix") format("embedded-opentype"),
url("suitepicon.woff2?38c5db8d1ee7437b035963dafb3362ba") format("woff2"),
url("suitepicon.woff?38c5db8d1ee7437b035963dafb3362ba") format("woff"),
url("suitepicon.ttf?38c5db8d1ee7437b035963dafb3362ba") format("truetype"),
url("suitepicon.svg?38c5db8d1ee7437b035963dafb3362ba#suitepicon") format("svg");
}

i[class^="suitepicon-"]:before, i[class*=" suitepicon-"]:before {
    font-family: suitepicon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.suitepicon-action-above:before {
    content: "\f101";
}
.suitepicon-action-add:before {
    content: "\f102";
}
.suitepicon-action-alerts-small:before {
    content: "\f103";
}
.suitepicon-action-alerts:before {
    content: "\f104";
}
.suitepicon-action-back:before {
    content: "\f105";
}
.suitepicon-action-below:before {
    content: "\f106";
}
.suitepicon-action-caret:before {
    content: "\f107";
}
.suitepicon-action-clear:before {
    content: "\f108";
}
.suitepicon-action-confirm:before {
    content: "\f109";
}
.suitepicon-action-create-contact-vcard:before {
    content: "\f10a";
}
.suitepicon-action-create-group-user:before {
    content: "\f10b";
}
.suitepicon-action-create-person-form:before {
    content: "\f10c";
}
.suitepicon-action-create-security-group:before {
    content: "\f10d";
}
.suitepicon-action-create-stic-bookings:before {
    content: "\f10e";
}
.suitepicon-action-create-stic-followups:before {
    content: "\f10f";
}
.suitepicon-action-create-stic-resources:before {
    content: "\f110";
}
.suitepicon-action-create-stic-sessions:before {
    content: "\f111";
}
.suitepicon-action-create-stic-web-forms:before {
    content: "\f112";
}
.suitepicon-action-current-user:before {
    content: "\f113";
}
.suitepicon-action-delete:before {
    content: "\f114";
}
.suitepicon-action-down:before {
    content: "\f115";
}
.suitepicon-action-edit:before {
    content: "\f116";
}
.suitepicon-action-empty-action:before {
    content: "\f117";
}
.suitepicon-action-first:before {
    content: "\f118";
}
.suitepicon-action-forward:before {
    content: "\f119";
}
.suitepicon-action-home:before {
    content: "\f11a";
}
.suitepicon-action-import-line-item:before {
    content: "\f11b";
}
.suitepicon-action-import:before {
    content: "\f11c";
}
.suitepicon-action-info:before {
    content: "\f11d";
}
.suitepicon-action-invade:before {
    content: "\f11e";
}
.suitepicon-action-last:before {
    content: "\f11f";
}
.suitepicon-action-left:before {
    content: "\f120";
}
.suitepicon-action-list-maps:before {
    content: "\f121";
}
.suitepicon-action-m182:before {
    content: "\f122";
}
.suitepicon-action-megaphone:before {
    content: "\f123";
}
.suitepicon-action-minus:before {
    content: "\f124";
}
.suitepicon-action-move-down:before {
    content: "\f125";
}
.suitepicon-action-move-left:before {
    content: "\f126";
}
.suitepicon-action-move-right:before {
    content: "\f127";
}
.suitepicon-action-move-up:before {
    content: "\f128";
}
.suitepicon-action-norma-43:before {
    content: "\f129";
}
.suitepicon-action-payments-aggregated:before {
    content: "\f12a";
}
.suitepicon-action-plus:before {
    content: "\f12b";
}
.suitepicon-action-quick-radius-map:before {
    content: "\f12c";
}
.suitepicon-action-reload:before {
    content: "\f12d";
}
.suitepicon-action-resource-chart:before {
    content: "\f12e";
}
.suitepicon-action-right:before {
    content: "\f12f";
}
.suitepicon-action-role-management:before {
    content: "\f130";
}
.suitepicon-action-schedule-call:before {
    content: "\f131";
}
.suitepicon-action-schedule-meeting:before {
    content: "\f132";
}
.suitepicon-action-schedule:before {
    content: "\f133";
}
.suitepicon-action-search:before {
    content: "\f134";
}
.suitepicon-action-security-groups:before {
    content: "\f135";
}
.suitepicon-action-security-suite-settings:before {
    content: "\f136";
}
.suitepicon-action-select:before {
    content: "\f137";
}
.suitepicon-action-setup-email:before {
    content: "\f138";
}
.suitepicon-action-sorting-ascending:before {
    content: "\f139";
}
.suitepicon-action-sorting-descending:before {
    content: "\f13a";
}
.suitepicon-action-sorting-none:before {
    content: "\f13b";
}
.suitepicon-action-stic-security-groups-rules:before {
    content: "\f13c";
}
.suitepicon-action-subtract:before {
    content: "\f13d";
}
.suitepicon-action-today:before {
    content: "\f13e";
}
.suitepicon-action-up:before {
    content: "\f13f";
}
.suitepicon-action-user-small:before {
    content: "\f140";
}
.suitepicon-action-user:before {
    content: "\f141";
}
.suitepicon-action-vcard:before {
    content: "\f142";
}
.suitepicon-action-view-create-email-templates:before {
    content: "\f143";
}
.suitepicon-action-view-diagnostics:before {
    content: "\f144";
}
.suitepicon-action-view-email-templates:before {
    content: "\f145";
}
.suitepicon-action-view-process-audit:before {
    content: "\f146";
}
.suitepicon-action-view-project-tasks:before {
    content: "\f147";
}
.suitepicon-action-view-record:before {
    content: "\f148";
}
.suitepicon-action-view:before {
    content: "\f149";
}
.suitepicon-admin-activity-streams:before {
    content: "\f14a";
}
.suitepicon-admin-address-cache:before {
    content: "\f14b";
}
.suitepicon-admin-aobh-businesshours:before {
    content: "\f14c";
}
.suitepicon-admin-aod-settings:before {
    content: "\f14d";
}
.suitepicon-admin-aop-settings:before {
    content: "\f14e";
}
.suitepicon-admin-aos-settings:before {
    content: "\f14f";
}
.suitepicon-admin-backups:before {
    content: "\f150";
}
.suitepicon-admin-campaign-email-settings:before {
    content: "\f151";
}
.suitepicon-admin-configure-module-menu-filters:before {
    content: "\f152";
}
.suitepicon-admin-connectors:before {
    content: "\f153";
}
.suitepicon-admin-currencies:before {
    content: "\f154";
}
.suitepicon-admin-diagnostic:before {
    content: "\f155";
}
.suitepicon-admin-display-modules-and-subpanels:before {
    content: "\f156";
}
.suitepicon-admin-donate:before {
    content: "\f157";
}
.suitepicon-admin-dropdown-editor:before {
    content: "\f158";
}
.suitepicon-admin-email-queue:before {
    content: "\f159";
}
.suitepicon-admin-email-settings:before {
    content: "\f15a";
}
.suitepicon-admin-geocode-addresses:before {
    content: "\f15b";
}
.suitepicon-admin-geocoded-counts:before {
    content: "\f15c";
}
.suitepicon-admin-geocoding-test:before {
    content: "\f15d";
}
.suitepicon-admin-global-search:before {
    content: "\f15e";
}
.suitepicon-admin-google-maps-settings:before {
    content: "\f15f";
}
.suitepicon-admin-history-subpanel:before {
    content: "\f160";
}
.suitepicon-admin-import:before {
    content: "\f161";
}
.suitepicon-admin-inbound-email:before {
    content: "\f162";
}
.suitepicon-admin-languages:before {
    content: "\f163";
}
.suitepicon-admin-locale:before {
    content: "\f164";
}
.suitepicon-admin-module-builder:before {
    content: "\f165";
}
.suitepicon-admin-module-loader:before {
    content: "\f166";
}
.suitepicon-admin-module-trackers:before {
    content: "\f167";
}
.suitepicon-admin-oauth2:before {
    content: "\f168";
}
.suitepicon-admin-oauth-keys:before {
    content: "\f169";
}
.suitepicon-admin-outbound-email:before {
    content: "\f16a";
}
.suitepicon-admin-password:before {
    content: "\f16b";
}
.suitepicon-admin-pdf-settings:before {
    content: "\f16c";
}
.suitepicon-admin-rebuild:before {
    content: "\f16d";
}
.suitepicon-admin-releases:before {
    content: "\f16e";
}
.suitepicon-admin-rename-modules:before {
    content: "\f16f";
}
.suitepicon-admin-repair:before {
    content: "\f170";
}
.suitepicon-admin-roles:before {
    content: "\f171";
}
.suitepicon-admin-scheduler:before {
    content: "\f172";
}
.suitepicon-admin-security-suite-group-management:before {
    content: "\f173";
}
.suitepicon-admin-security:before {
    content: "\f174";
}
.suitepicon-admin-stic-configure-main-menu:before {
    content: "\f175";
}
.suitepicon-admin-stic-custom-views:before {
    content: "\f176";
}
.suitepicon-admin-stic-messages:before {
    content: "\f177";
}
.suitepicon-admin-stic-settings:before {
    content: "\f178";
}
.suitepicon-admin-stic-validation-actions:before {
    content: "\f179";
}
.suitepicon-admin-studio:before {
    content: "\f17a";
}
.suitepicon-admin-system-settings:before {
    content: "\f17b";
}
.suitepicon-admin-themes:before {
    content: "\f17c";
}
.suitepicon-admin-upgrade-wizard:before {
    content: "\f17d";
}
.suitepicon-admin-user-management:before {
    content: "\f17e";
}
.suitepicon-admin-workflow:before {
    content: "\f17f";
}
.suitepicon-dashlet-charts-funnel:before {
    content: "\f180";
}
.suitepicon-dashlet-charts-groupby:before {
    content: "\f181";
}
.suitepicon-dashlet-charts-horizontal:before {
    content: "\f182";
}
.suitepicon-dashlet-charts-pie:before {
    content: "\f183";
}
.suitepicon-dashlet-charts-vertical:before {
    content: "\f184";
}
.suitepicon-dashlet-jotpad:before {
    content: "\f185";
}
.suitepicon-dashlet-sugarnews:before {
    content: "\f186";
}
.suitepicon-display-folder-closed:before {
    content: "\f187";
}
.suitepicon-display-folder-open:before {
    content: "\f188";
}
.suitepicon-favorite-star-outline:before {
    content: "\f189";
}
.suitepicon-favorite-star:before {
    content: "\f18a";
}
.suitepicon-mimetype-tab:before {
    content: "\f18b";
}
.suitepicon-module-accounts:before {
    content: "\f18c";
}
.suitepicon-module-aclroles:before {
    content: "\f18d";
}
.suitepicon-module-activities:before {
    content: "\f18e";
}
.suitepicon-module-administration:before {
    content: "\f18f";
}
.suitepicon-module-am-tasktemplates:before {
    content: "\f190";
}
.suitepicon-module-aok-knowledge-base-categories:before {
    content: "\f191";
}
.suitepicon-module-aok-knowledgebase:before {
    content: "\f192";
}
.suitepicon-module-aor-reports:before {
    content: "\f193";
}
.suitepicon-module-aos-contracts-signature:before {
    content: "\f194";
}
.suitepicon-module-aos-contracts:before {
    content: "\f195";
}
.suitepicon-module-aos-invoices:before {
    content: "\f196";
}
.suitepicon-module-aos-pdf-templates:before {
    content: "\f197";
}
.suitepicon-module-aos-product-categories:before {
    content: "\f198";
}
.suitepicon-module-aos-quotes:before {
    content: "\f199";
}
.suitepicon-module-aow-workflow:before {
    content: "\f19a";
}
.suitepicon-module-areas-maps:before {
    content: "\f19b";
}
.suitepicon-module-basic:before {
    content: "\f19c";
}
.suitepicon-module-bugs:before {
    content: "\f19d";
}
.suitepicon-module-calendar:before {
    content: "\f19e";
}
.suitepicon-module-calls:before {
    content: "\f19f";
}
.suitepicon-module-campaigns:before {
    content: "\f1a0";
}
.suitepicon-module-campaigntrackers:before {
    content: "\f1a1";
}
.suitepicon-module-cases:before {
    content: "\f1a2";
}
.suitepicon-module-case-updates:before {
    content: "\f1a3";
}
.suitepicon-module-companyc:before {
    content: "\f1a4";
}
.suitepicon-module-company:before {
    content: "\f1a5";
}
.suitepicon-module-contacts:before {
    content: "\f1a6";
}
.suitepicon-module-default:before {
    content: "\f1a7";
}
.suitepicon-module-detailview:before {
    content: "\f1a8";
}
.suitepicon-module-direct-reports:before {
    content: "\f1a9";
}
.suitepicon-module-document-revisions:before {
    content: "\f1aa";
}
.suitepicon-module-documents:before {
    content: "\f1ab";
}
.suitepicon-module-editview:before {
    content: "\f1ac";
}
.suitepicon-module-email-marketing2:before {
    content: "\f1ad";
}
.suitepicon-module-email-marketing:before {
    content: "\f1ae";
}
.suitepicon-module-emails:before {
    content: "\f1af";
}
.suitepicon-module-existing-package:before {
    content: "\f1b0";
}
.suitepicon-module-fields:before {
    content: "\f1b1";
}
.suitepicon-module-file:before {
    content: "\f1b2";
}
.suitepicon-module-filter:before {
    content: "\f1b3";
}
.suitepicon-module-fp-event-locations:before {
    content: "\f1b4";
}
.suitepicon-module-fp-events:before {
    content: "\f1b5";
}
.suitepicon-module-history:before {
    content: "\f1b6";
}
.suitepicon-module-issue:before {
    content: "\f1b7";
}
.suitepicon-module-jjwg-maps:before {
    content: "\f1b8";
}
.suitepicon-module-jjwg-markers:before {
    content: "\f1b9";
}
.suitepicon-module-labels:before {
    content: "\f1ba";
}
.suitepicon-module-layouts:before {
    content: "\f1bb";
}
.suitepicon-module-leads:before {
    content: "\f1bc";
}
.suitepicon-module-listview:before {
    content: "\f1bd";
}
.suitepicon-module-meetings:before {
    content: "\f1be";
}
.suitepicon-module-new-module:before {
    content: "\f1bf";
}
.suitepicon-module-new-package:before {
    content: "\f1c0";
}
.suitepicon-module-notes:before {
    content: "\f1c1";
}
.suitepicon-module-opportunities:before {
    content: "\f1c2";
}
.suitepicon-module-other:before {
    content: "\f1c3";
}
.suitepicon-module-overview:before {
    content: "\f1c4";
}
.suitepicon-module-person:before {
    content: "\f1c5";
}
.suitepicon-module-popupview:before {
    content: "\f1c6";
}
.suitepicon-module-process:before {
    content: "\f1c7";
}
.suitepicon-module-products:before {
    content: "\f1c8";
}
.suitepicon-module-project-tasks:before {
    content: "\f1c9";
}
.suitepicon-module-prospectlists:before {
    content: "\f1ca";
}
.suitepicon-module-quickcreate:before {
    content: "\f1cb";
}
.suitepicon-module-relationships:before {
    content: "\f1cc";
}
.suitepicon-module-sale:before {
    content: "\f1cd";
}
.suitepicon-module-schedulers:before {
    content: "\f1ce";
}
.suitepicon-module-securitygroups:before {
    content: "\f1cf";
}
.suitepicon-module-spots:before {
    content: "\f1d0";
}
.suitepicon-module-stic-accounts-relationships:before {
    content: "\f1d1";
}
.suitepicon-module-stic-advanced-web-forms-links:before {
    content: "\f1d2";
}
.suitepicon-module-stic-advanced-web-forms-response-details:before {
    content: "\f1d3";
}
.suitepicon-module-stic-advanced-web-forms-responses:before {
    content: "\f1d4";
}
.suitepicon-module-stic-advanced-web-forms:before {
    content: "\f1d5";
}
.suitepicon-module-stic-assessments:before {
    content: "\f1d6";
}
.suitepicon-module-stic-assets:before {
    content: "\f1d7";
}
.suitepicon-module-stic-attendances:before {
    content: "\f1d8";
}
.suitepicon-module-stic-bookings:before {
    content: "\f1d9";
}
.suitepicon-module-stic-centers:before {
    content: "\f1da";
}
.suitepicon-module-stic-contacts-relationships:before {
    content: "\f1db";
}
.suitepicon-module-stic-events:before {
    content: "\f1dc";
}
.suitepicon-module-stic-families:before {
    content: "\f1dd";
}
.suitepicon-module-stic-financial-products:before {
    content: "\f1de";
}
.suitepicon-module-stic-followups:before {
    content: "\f1df";
}
.suitepicon-module-stic-goals:before {
    content: "\f1e0";
}
.suitepicon-module-stic-grants:before {
    content: "\f1e1";
}
.suitepicon-module-stic-group-opportunities:before {
    content: "\f1e2";
}
.suitepicon-module-stic-job-applications:before {
    content: "\f1e3";
}
.suitepicon-module-stic-job-offers:before {
    content: "\f1e4";
}
.suitepicon-module-stic-journal:before {
    content: "\f1e5";
}
.suitepicon-module-stic-medication-log:before {
    content: "\f1e6";
}
.suitepicon-module-stic-medication:before {
    content: "\f1e7";
}
.suitepicon-module-stic-messages:before {
    content: "\f1e8";
}
.suitepicon-module-stic-payment-commitments:before {
    content: "\f1e9";
}
.suitepicon-module-stic-payments-aggregated:before {
    content: "\f1ea";
}
.suitepicon-module-stic-payments:before {
    content: "\f1eb";
}
.suitepicon-module-stic-personal-environment:before {
    content: "\f1ec";
}
.suitepicon-module-stic-prescription:before {
    content: "\f1ed";
}
.suitepicon-module-stic-registrations:before {
    content: "\f1ee";
}
.suitepicon-module-stic-remittances:before {
    content: "\f1ef";
}
.suitepicon-module-stic-resources:before {
    content: "\f1f0";
}
.suitepicon-module-stic-security-groups-rules:before {
    content: "\f1f1";
}
.suitepicon-module-stic-sepe-actions:before {
    content: "\f1f2";
}
.suitepicon-module-stic-sepe-files:before {
    content: "\f1f3";
}
.suitepicon-module-stic-sepe-incidents:before {
    content: "\f1f4";
}
.suitepicon-module-stic-sessions:before {
    content: "\f1f5";
}
.suitepicon-module-stic-signature-log:before {
    content: "\f1f6";
}
.suitepicon-module-stic-signatures:before {
    content: "\f1f7";
}
.suitepicon-module-stic-signers:before {
    content: "\f1f8";
}
.suitepicon-module-stic-skills:before {
    content: "\f1f9";
}
.suitepicon-module-stic-time-tracker:before {
    content: "\f1fa";
}
.suitepicon-module-stic-training:before {
    content: "\f1fb";
}
.suitepicon-module-stic-transactions:before {
    content: "\f1fc";
}
.suitepicon-module-stic-validation-actions:before {
    content: "\f1fd";
}
.suitepicon-module-stic-work-calendar:before {
    content: "\f1fe";
}
.suitepicon-module-stic-work-experience:before {
    content: "\f1ff";
}
.suitepicon-module-subpanels:before {
    content: "\f200";
}
.suitepicon-module-survey-responses:before {
    content: "\f201";
}
.suitepicon-module-surveys:before {
    content: "\f202";
}
.suitepicon-module-targets:before {
    content: "\f203";
}
.suitepicon-module-tasks:before {
    content: "\f204";
}
.suitepicon-module-users:before {
    content: "\f205";
}
.suitepicon-template-company:before {
    content: "\f206";
}
.suitepicon-template-file:before {
    content: "\f207";
}
.suitepicon-template-issue:before {
    content: "\f208";
}
